/*
** Css of tchat module
*/

.tchat
{
    position : absolute;
    background-color : #888888;
}

.sendMessage
{
    position : absolute;
    bottom : 1%;
    left : 2%;
}

.usrMsg
{
    color : black;
    font-weight : bold;
}